@page "/"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using StrategyMack.Models
@using StrategyMack.Data
@implements IAsyncDisposable
@inject IDbContextFactory<StrategyMack.Data.StrategyMackContext> DbFactory
@rendermode InteractiveServer
@inject IJSRuntime JS

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="initiatives/create">Create New</a>
</p>

<button class="btn btn-primary" @onclick="UpdateAllAttributes">Click Me</button>

<QuickGrid Class="table" Items="context.Initiative">
    <PropertyColumn Property="initiative => initiative.Title" />
    <PropertyColumn Property="initiative => initiative.Description" />
    <PropertyColumn Property="initiative => initiative.StartDate" />
    <PropertyColumn Property="initiative => initiative.EndDate" />
    <PropertyColumn Property="initiative => initiative.IsActive" />

    <TemplateColumn Context="initiative">
        <a href="@($"initiatives/edit?id={initiative.Id}")">Edit</a> |
        <a href="@($"initiatives/details?id={initiative.Id}")">Details</a> |
        <a href="@($"initiatives/delete?id={initiative.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    //
}
